[submodule "contrib/docker/src/ckanext-harvest"]
	path = contrib/docker/src/ckanext-harvest
	url = https://github.com/cioos-siooc/ckanext-harvest.git
[submodule "contrib/docker/src/ckanext-spatial"]
	path = contrib/docker/src/ckanext-spatial
	url = https://github.com/cioos-siooc/ckanext-spatial.git
[submodule "contrib/docker/src/ckanext-cioos_theme"]
	path = contrib/docker/src/ckanext-cioos_theme
	url = https://github.com/cioos-siooc/ckanext-cioos_theme.git
[submodule "contrib/docker/src/pycsw"]
	path = contrib/docker/src/pycsw
	url = https://github.com/geopython/pycsw.git
[submodule "contrib/docker/src/ckanext-scheming"]
	path = contrib/docker/src/ckanext-scheming
	url = https://github.com/ckan/ckanext-scheming.git
[submodule "contrib/docker/src//OWSLib"]
	path = contrib/docker/src//OWSLib
	url = https://github.com/geopython/OWSLib.git
[submodule "contrib/docker/src/OWSLib"]
	path = contrib/docker/src/OWSLib
	url = https://github.com/geopython/OWSLib.git
[submodule "contrib/docker/src/ckanext-geoview"]
	path = contrib/docker/src/ckanext-geoview
	url = https://github.com/ckan/ckanext-geoview.git
[submodule "contrib/docker/src/ckanext-package_converter"]
	path = contrib/docker/src/ckanext-package_converter
	url = https://github.com/cioos-siooc/ckanext-package_converter.git