[submodule "contrib/docker/src/ckanext-harvest"]
	path = contrib/docker/src/ckanext-harvest
	url = https://github.com/cioos-siooc/ckanext-harvest.git
[submodule "contrib/docker/src/ckanext-spatial"]
	path = contrib/docker/src/ckanext-spatial
	url = https://github.com/cioos-siooc/ckanext-spatial.git
[submodule "contrib/docker/src/ckanext-cioos_theme"]
	path = contrib/docker/src/ckanext-cioos_theme
	url = https://github.com/cioos-siooc/ckanext-cioos_theme.git
[submodule "contrib/docker/src/ckanext-geoview"]
	path = contrib/docker/src/ckanext-geoview
	url = https://github.com/ckan/ckanext-geoview.git
[submodule "contrib/docker/src/ckanext-scheming"]
	path = contrib/docker/src/ckanext-scheming
	url = https://github.com/cioos-siooc/ckanext-scheming.git
[submodule "contrib/docker/src/ckanext-fluent"]
	path = contrib/docker/src/ckanext-fluent
	url = https://github.com/cioos-siooc/ckanext-fluent.git
[submodule "contrib/docker/src/ckanext-cioos_harvest"]
	path = contrib/docker/src/ckanext-cioos_harvest
	url = https://github.com/cioos-siooc/ckanext-cioos_harvest.git
[submodule "contrib/docker/src/hakai-schema"]
	path = contrib/docker/src/hakai-schema
	url = https://github.com/HakaiInstitute/hakai-schema.git
[submodule "contrib/docker/src/ckanext-googleanalyticsbasic"]
	path = contrib/docker/src/ckanext-googleanalyticsbasic
	url = https://github.com/cioos-siooc/ckanext-googleanalyticsbasic.git
[submodule "contrib/docker/src/ckanext-dcat"]
	path = contrib/docker/src/ckanext-dcat
	url = https://github.com/ckan/ckanext-dcat.git
[submodule "contrib/docker/src/ckanext-pdfview"]
	path = contrib/docker/src/ckanext-pdfview
	url = https://github.com/ckan/ckanext-pdfview.git