*/15 * * * *  /usr/bin/ckan --config=/srv/app/ckan.ini harvester run  > /proc/1/fd/1 2>/proc/1/fd/2
0  5 * * *   /usr/bin/ckan --config=/srv/app/ckan.ini harvester clean-harvest-log  > /proc/1/fd/1 2>/proc/1/fd/2

# tracking is turned off for now so no need to run this
# 0 22 * * *   /usr/bin/ckan --config=/srv/app/ckan.ini tracking update > /proc/1/fd/1 2>/proc/1/fd/2

0 1 * * *   /usr/bin/ckan --config=/srv/app/ckan.ini search-index rebuild -r  > /proc/1/fd/1 2>/proc/1/fd/2

# search index also index's the harvester, no need to run both
# 1 1 * * *   /usr/bin/ckan --config=/srv/app/ckan.ini harvester reindex  > /proc/1/fd/1 2>/proc/1/fd/2

# sending emails is broken in ckan 2.9 waiting for backport
# 0  1 * * *   /usr/bin/ckan --config=/srv/app/ckan.ini post -c /srv/app/ckan.ini /api/action/send_email_notifications  > /proc/1/fd/1 2>/proc/1/fd/2

# this will work in ckan 2.10 when we get there
# 0  1 * * * /usr/bin/ckan --config=/srv/app/ckan.ini notify send_emails > /proc/1/fd/1 2>/proc/1/fd/2

20 */4 * * *    /usr/bin/ckan --config=/srv/app/ckan.ini package-relationships build > /proc/1/fd/1 2>/proc/1/fd/2

0 */2 * * *    /usr/bin/ckan --config=/srv/app/ckan.ini sitemap create > /proc/1/fd/1 2>/proc/1/fd/2
